<%= render "shared/navbar" %>

<div class="container show-post">
  <div class="row">
    <%= image_tag @post.image, class: "col-md-8 show-img bg-white" %>
    <div class="post-info col-md-4 bg-white">
      <div class="user-info">
        <h3>
        photo by <%= link_to @post.user.nickname, user_path(@post.user_id) %>
        </h3>
        <ul class="d-flex">
            <li class="post-favorite mr-3">
              <%= render partial: "favorites/favorite", locals: { post: @post, favorite: @favorite} %>
              <%= @favorites.count %>
            </li>
          <% if @post.user_id == current_user.id %>
            <li><%= link_to '編集', edit_post_path(params[:id]), class: "mr-3" %></li>
            <li><%= link_to '削除', post_path(params[:id]), method: :delete %></li>
          <% end %>
        </ul>
      </div>
      <%#メンバー名表示%>
      <div class="member-list">
        <ul>
          <% @post.members.each do |member| %>
            <li><%= member.name %></li>
          <% end %>
        </ul>
      </div>
      <%#テキスト表示%>
      <div class="text-area">
        <p><%= @post.text %></p>
      </div>
      <%#コメント%>
      <div class="overflow-auto border border-light comment-list" id="comment-container" style="height: 150px;">
        <%=  render @comments %>
      </div>
      <%= render "comment_form" %>
    </div>
  </div>
</div>

<div class="container">
  <h4 class="mt-5">同じユーザーの投稿</h4>
  <div class="row">
    <% @post.user.posts.with_attached_image.order(created_at: :DESC).each do |post| %>
      <div class="col-md-4 col-sm-6">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, class: "post-img m-3" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>