<%= render "shared/navbar" %>

<div class="container show-post">
  <div class="row">
    <%= image_tag @post.image, class: "col-md-8 show-img " %>
    <div class="box2 col-md-4">
      <%= link_to "#" do %>
        <h2><%= @post.user.nickname %></h2>
      <% end %>
        <ul>
          <li><%= link_to '編集', edit_post_path(params[:id]) %></li>
          <li><%= link_to '削除', post_path(params[:id]), method: :delete %></li>
        </ul>
        <h4><%= @post.text %></h4>

        <h3>コメント一覧</h3>
        <form></form>
    </div>
  </div>
</div>