<%= render "shared/navbar" %>

<div class="container show-post">
  <div class="row">
    <%= image_tag @post.image, class: "col-md-8 show-img bg-white" %>
    <div class="post-info col-md-4 bg-white">
      <div class="user-info">
        <ul class="d-flex">
          <li>photo by <%= @post.user.nickname %></li>
          <% if @post.user_id == current_user.id %>
            <li><%= link_to '編集', edit_post_path(params[:id]) %></li>
            <li><%= link_to '削除', post_path(params[:id]), method: :delete %></li>
          <% end %>
        </ul>
      </div>
      <%#メンバー名表示%>
      <div class="member-list">
        <ul>
          <% @members.each do |member| %>
            <li><%= member[:name] %></li>
          <% end %>
        </ul>
      </div>
      <%#テキスト表示%>
      <div class="text-area">
        <p><%= @post.text %></p>
      </div>
      <%#コメント%>
      <div class="overflow-auto border border-light comment-list" id="comment-container" style="height: 150px;">
        <%=  render @comments %>
      </div>
      <%= render "comment_form" %>
    </div>
  </div>
</div>